      body {
        font-family: Roboto, Arial, sans-serif;
/*        background: #ECEFF1;*/
        color: rgba(60,90,0,0.87);
      }

      a {
        color: rgb(3,155,229);
      }
      .postlist {
        list-style: none;
      }
      .card {
        width:200px;
        height: 200px;
        border:2px solid gray;
        border-radius: 5px;
        padding:10px;
        float:left;
        margin:10px;
      }
      .card:hover {
        background-color:azure;
        border:2px solid black;
      }

@media (max-width: 47.9375em) {
  .card {
    font-size: 30px;
    width:90%;
    margin-left:1% !important;
  }
  h2 {
    font-size:2em;
  }



}